<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/cregister.css'%}">
<title>Counselor Sign up </title>
</head>
<body>
  <div class="cover_box">
    <div class="form-box login">
    <form action="#" method="post">
      {% csrf_token%}
      <h2>Counselor Register</h2>
<div class="input-box">
<span class="icon"><ion-icon name="person-outline"></ion-icon></span>
  <input type="text" name="username" required>
  <label>  Name</label>
</div>
 
  <div class="input-box" style="margin-left: 52%;margin-top: -12%;">
   <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
  <input type="text" name="phoneno" required >
   <label>Phone number</label>
 </div>
 <div class="input-box">
   <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
 <input type="text" name="address" required>
    <label>Address</label>
                                      </div>
<div class="input-box" style="margin-left: 52%;margin-top: -12%;">
   <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
   <input type="text" name="email" required>
    <label>Email</label>
</div>
 <div class="input-box">
    <span class="icon"><ion-icon name="school-outline"></ion-icon></span>
 <input type="text" name="highedu" required>
    <label>Higher Qualification</label>
    </div>
    <div class="input-box" style="margin-left: 52%;margin-top: -12%;">
      <span class="icon"><ion-icon name="trophy-outline"></ion-icon></span>
   <input type="text" name="special" required>
      <label>Specialization</label>
      </div>
      <div class="input-box">
        <span class="icon"><ion-icon name="briefcase-outline"></ion-icon></span>
     <input type="text" name="work" required>
        <label> Work Experience In Year</label>
        </div>
        <div class="input-box" style="margin-left: 52%;margin-top: -12%;">
          <span class="icon"><ion-icon name="briefcase-outline"></ion-icon></span>
       <input type="text" name="preorg" required>
          <label>Previous Organization</label>
          </div>
          <div class="input-box">
            <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
         <input type="password" name="psw" required>
            <label>Password</label>
            </div>
            <div class="input-box" style="margin-left: 52%;margin-top: -12%;">
              <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
           <input type="password" name="conpsw" required>
              <label>Confirm Password</label>
              </div>
              <div class="remember-forgot">
                <label><input type="checkbox">Agree to terms & Conditions</label>
                <a href="#">Forgot password</a>
              </div>
              <button type="submit" class="btn">Register</button>
             <p style="text-align: center;margin-top: 1%;">Already have an account<a href="{% url 'mediapp:clogin'%}" style="margin-left: 3%;"> Login</a></p>
            
    </form>
    </div>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>