<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="depression.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg" id="nav">
        <div class="container-fluid ">
            <div class="navbar-brand"><img src="
                /images/logo.png" id="logo" alt="image" /></div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav justify-content-end navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="new1.html">Wellness Hub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contactus.html">Contact us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="register.html" id="login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="card-page">
        <div class="first-card">
            <p class="card-page-title">Depression</p>
            <h3 class="card-page-heading">
                Answers To All Your Questions About Depression
            </h3>
            <div style="display: flex; justify-content: space-between;">
                <!-- <p class="card-author">By Neha Bakshi, Psychologist at Felicity</p>
                <p class="card-date">April 30, 2022</p> -->
            </div>
            <img src="/images/depress1.jpg" alt="image" class="card-page-image" />
            <div>
                <p>Depression is hard to describe, especially to those who have never experienced it. It is not just
                    sadness. It is bigger, more debilitating, more engulfing. To make matters worse, it does not
                    physically manifest. This makes it hard for people to empathise or even begin to comprehend.</p>
                <p>According to World Health Organization (WHO), 5% people on our planet have depression. Approximately
                    280 million people are living under the cloud of depression. While treatment exists, a large number
                    of people in the low-income levels do not even receive treatment. Untreated depression could also
                    culminate into death by suicide. Over 700,000 people die by suicide every year. These numbers
                    include men, women, and children. It is not just a personal tragedy but a societal issue as well.
                </p>
                <p>
                    Why do some people get it, and others don’t? Are there any early symptoms that can be nipped in the
                    bud? Anything one can do to prevent it altogether? Is it possible to just snap out of it? There are
                    lot of things one wonders when it comes to depression. Let’s start with the basics.
                </p>
                <h3>What is depression?</h3>
                <P>Depression is a mood disorder characterised by persistent low mood, sadness, and loss of interest in
                    activities that one previously enjoyed. For sadness to qualify as depression these symptoms should
                    be persistent for over 2-3 weeks.</P>
                <h4>Symptoms</h4>
                <p>There are lot changes reflected in the behaviour of a depressed person. Some of the common signs to
                    look out for are:</p>
                <ul>
                    <li><span style="font-weight: bold;">Loss of interest in just about anything - </span>There is an
                        innate inability to mindfully engage in just about anything. This can even throw the daily
                        routine for a toss. Things like taking a shower or getting out of bed also become burdensome.
                    </li>
                    <li><span style="font-weight: bold;">Loss of interest in just about anything - </span>There is an
                        innate inability to mindfully engage in just about anything. This can even throw the daily
                        routine for a toss. Things like taking a shower or getting out of bed also become burdensome.
                    </li>
                    <li><span style="font-weight: bold;">Loss of interest in just about anything - </span>There is an
                        innate inability to mindfully engage in just about anything. This can even throw the daily
                        routine for a toss. Things like taking a shower or getting out of bed also become burdensome.
                    </li>
                    <li><span style="font-weight: bold;">Loss of interest in just about anything - </span>There is an
                        innate inability to mindfully engage in just about anything. This can even throw the daily
                        routine for a toss. Things like taking a shower or getting out of bed also become burdensome.
                    </li>
                    <li><span style="font-weight: bold;">Loss of interest in just about anything - </span>There is an
                        innate inability to mindfully engage in just about anything. This can even throw the daily
                        routine for a toss. Things like taking a shower or getting out of bed also become burdensome.
                    </li>
                </ul>
            </div>
        </div>
        <div class="second-card">
            <div class="second-card-container">
                <h6 class="card-artice-heading">Free Mental Health test</h6>
                <div class="card-article-container">
                    <div class="card-article">
                        <img src="/images/anxiety.png" alt="image" class="card-article-image" />
                        <button class="card-article-btn">Anxiety</button>
                    </div>
                    <div class="card-article">
                        <img src="/images/depress1.jpg" alt="image" class="card-article-image" />
                        <button class="card-article-btn">Depression</button>
                    </div>
                    <div class="card-article">
                        <img src="/images/depress1.jpg" alt="image" class="card-article-image" />
                        <button class="card-article-btn">OCD</button>
                    </div>
                    <div class="card-article">
                        <img src="/images/ship.jpg" alt="image" class="card-article-image" />
                        <button class="card-article-btn">Relationship</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-banner">
            <div class="signing">
                <div id="text">
                    <p>Try <span style="color:rgb(218, 131, 131); font-weight: bold;font-size: 35px;">CALMQUEST</span>
                        today.</p>
                    <p style="font-size: 13px;margin-top:-20px;">Embrace a path of assistance and well-being, steering
                        away from unnecessary hardships. Opt for a journey where support and relief guide your way,
                        leaving suffering behind.</p>
                </div>
                <div class="btn-conteiner">
                    <a class="btn-content" href="#">
                        <span class="btn-title">Sign Up </span>
                        <span class="icon-arrow">
                            <svg width="50px" height="27px" viewBox="0 0 66 40" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <path id="arrow-icon-one"
                                        d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                                        fill="#FFFFFF"></path>
                                    <path id="arrow-icon-two"
                                        d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z"
                                        fill="#FFFFFF"></path>
                                    <path id="arrow-icon-three"
                                        d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z"
                                        fill="#FFFFFF"></path>
                                </g>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-divs">
                <div class="abc1">
                    <div>
                        <p class="abc1-heading">CALMQUEST</p>
                        <p class="abc1-subheading">Your Mental Ally</p>
                    </div>
                    <ul class="contact">
                        <li><i class="fa fa-home"></i>
                            <p> Goel Institute Of Technology and Management, Lucknow,Uttar pradesh,226017</p>
                        </li>
                        <li><i class="fa fa-phone"></i>
                            <p>+91-7292729389 , 9820482939</p>
                        </li>
                        <li><i class="fa fa-envelope"></i>
                            <p>info@calmquest.com</p>
                        </li>
                    </ul>
                </div>
                <div class="footer-vertical-line1"></div>
                <div class="abc2">
                    <span class="abc2-heading">Quick Links</span>
                    <ul class="menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="new1.html">Wellness Hub</a></li>
                        <li><a href="contactus.css">Contact </a></li>
                    </ul>
                </div>
                <div class="footer-vertical-line2"></div>
                <div class="abc3">
                    <span class="abc3-heading">Newsletter</span>
                    <div class="abc3-div">
                        <input type="email" class="abc3-email" Placeholder="Enter Your Email">
                        <button type="submit" class="button-71" role="button">
                            Subscribe
                        </button>
                    </div>
                </div>
            </div>
            <div class="social-div">
                <ul class="socials">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto"
            style="position:relative;margin-top: -80px;">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="#FCBECD" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="#F8CBD6" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="#F9E1E7" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg> -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>