{% extends "clientparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;color:black">Change Your Pass Code</h1>   
           
            {% if messages %}
               {% for message in messages %}
               <div class="alert alert-success alert-dismissible fade show w-50" role="alert">
                  {{message}}
                  <button type="button" class="btn close" data-dismiss="alert" aria-label="Close">
                             
                            <span aria-hidden="true" style="font-size: 20px;color: brown">×</span>
                        </button>
                        </div>
               {% endfor %}
            {% endif %}
                <div class="row">
                    <div class="col-sm-12">
                        <h1 style="text-align:center;">Change Password</h1>   
                          <form method="post" action="{% url 'clientapp:changepassword'%}" class="form-group mt-5">
                            {% csrf_token %}
                            <table class="table" style="width: 60%;margin:auto;color: black;border: 2px solid transparent;box-shadow: 5px 5px 10px black;">
                            <tr>
                                <td>Enter Old Password</td>
                                <td><input type="password" name="oldpassword" class="form-control" style="background-color: aquamarine;border-radius: 40px;border: 2px solid skyblue;" required/></td>
                            </tr>
                            <tr>
                                <td>Enter new Password</td>
                                <td><input type="password" name="newpassword" class="form-control text-light" style="background-color: aquamarine;border-radius: 40px;border: 2px solid skyblue;" required/></td>
                            </tr>
                            <tr>
                                <td>Enter Confirm Password</td>
                                <td> <input type="password" name="confirmpassword" class="form-control text-light"  style="background-color: aquamarine;border-radius: 40px;border: 2px solid skyblue;"required/></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center;">
                                <button type="submit" class="btn btn-warning" style="font-size: 20px;border-radius: 40px;">change password</button>
                                </td>
                                
                            </tr>
                            </table>
                          </form>
                    </div>
                </div>
        
        </div>
    </div>
{% endblock body %}
