{% extends "clientparent.html" %}
{% load static %}
{% block body %}
<div class="row" >
    <div class="col-sm-12">
        <h1 style="text-align:center;color:black">Hello <span style="color:blueviolet"> {{reg.logname}}</span> How May I help You??</h1>   
        <div class="div1" style="width: 60%;height: 40%;border-radius: 20px;margin-left: 20%;box-shadow: 5px 5px 10px black;margin-top: 2%;">
                  <div class="b1" style="width: 50%;height: 100%;float: left;">
                     <h1 style="color:black;margin-left: 16%;margin-top: 25%;">Need Help??</h1>
                     <button type="submit"class="btn btn-warning" style="margin-left: 16%;border-radius: 50px;font-size: 20px;">Raise New Request</button>
                  </div>
                  <div class="b2" style="width: 50%;height: 100%;float: right;border:1px solid transparent">
                    <img src="{% static 'images/help1.jpg'%}" style="height: 150px;width: 150px;margin-left: 20%;margin-top: 9%;margin-bottom: 5%;border-radius: 100px;"/>
                </div>
             
        </div>
            <div class="col-sm-12" style="margin-top: 6%;margin-left: 12%;">
                <a href="#">
                    <div class="box1" style="height: 200px;width: 200px;border: 1px solid transparent;float: left;box-shadow: 5px 5px 10px black;border-radius: 20px;">
                    <img src="{% static 'images/view.jpg'%}" style="height: 100px;width: 100px;margin-top: 10%;margin-left: 24%;"/>
                    <h4 style="color:black;margin-left: 13%;margin-top: 10%;">View Old Request</h4>
                    </div>
                </a>
                <a href="#">
                    <div class="box1" style="height: 200px;width: 200px;border: 1px solid transparent;float: left;margin-left: 10%;box-shadow: 5px 5px 10px black;border-radius: 20px;">
                    <img src="{% static 'images/wapp.jpg'%}" style="height: 100px;width: 100px;margin-top: 10%;margin-left: 22%;border-radius: 100px;"/>
                    <h4 style="color:black;margin-left: 20%;margin-top: 10%;">Chat With Us</h4>
                    </div>
                </a>
                <a href="#">
                    <div class="box1" style="height: 200px;width: 200px;border: 1px solid transparent;float: left;margin-left: 10%;box-shadow: 5px 5px 10px black;border-radius: 20px;margin-bottom: 5%;">
                    <img src="{% static 'images/ring.jpg'%}" style="height: 100px;width: 100px;margin-top: 10%;margin-left: 24%;"/>
                    <h4 style="color:black;margin-left: 16%;margin-top: 10%;">+91 7007441342</h4>
                    </div>
                </a>
            </div> 
          
            <div class="ques" style="margin-top: 5%;">
            <h1 style="color:black">Frequently Asked Questions</h1>
            <hr style="height: 5px;width: 20px;background-color: black;"/>
            
        </div>
    </div>
</div>
{% endblock body %}
