{% extends "clientparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;color:black">Session</h1>
            <div class="row" style="margin-top:5%; border-radius:20px;">
                <div  class="col-sm-12" style="border:1px solid gray ; border-radius:15px; height:200px; box-shadow:  5px 5px 5px  rgba(68,6 8,68,0.6);" >
                  <div  class="row">
                    <div class="col-sm-8"><h1 style="margin-left:25%; margin-top:6%; color:black;"><b>You have 0 upcoming<b></h1>
                      <h1 style="margin-left:33%; margin-top:4%; color:black;"> <b>sessions</b></h1>
                      
                    </diV>
                      <div class="col-sm-4">
                        
                        </div>
                      
                </div>
                </div>
            
            
            
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-check" style="margin-left:22%;">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                          <label class="form-check-label" for="flexRadioDefault2">
                            <h4 style="margin-top:22%; color:black;">Upcoming Session</h4>
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                          <label class="form-check-label" for="flexRadioDefault2">
                            <h4 style="margin-top:16%; color:black; "> Complete session </h4>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <p style="margin-left:30%; margin-top:6%; color:black;">No sessions available for this category.<p>
                </div>
               
              
            
        </div>
    </div>
{% endblock body %}