{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;color:black">Counsellor Details</h1>   
            <table class="table table-bordered text-dark" style="border: 4px solid black;text-align: center;">
                <tr>
                 <th>#</th>
                    <th>Name</th>
                    <th>Phone No.</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Higher Education</th>
                    <th>Specialization</th>
                    <th>Work Experience</th>
                    <th>Previous Organization</th>
                    <th>Register Date</th>
                </tr>
                {% for c in creg %}
                   <tr>
                     <td>{{forloop.counter}}</td>
                      <td>{{c.username}}</td>
                     <td>{{c.phoneno}}</td>
                     <td>{{c.adress}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.highedu}}</td>
                    <td>{{c.Special}}</td>
                    <td>{{c.work}}</td>
                    <td>{{c.preorg}}</td>
                    <td>{{c.regdate}}</td>
                </tr>
                {% endfor %}
             </table> 

        </div>
    </div>
{% endblock body %}
